html , body { 
    height: 100%;
    width: 100%;
    background: url(media/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.buffer{
    height: 30px;
}


h1{
     font-size: 30px;
     text-align: center;
     color: blueviolet;
}

.text-center{
    color: blue;
}

hr{
    border: 2px solid black;
    width: 100px;
}

p{
    text-align: center;
    color: blue;
}

.dsa{
    border: 2px solid black;
    width: 200px;

}

h2{
    text-align: center;
    color: blueviolet;
}

.qsq{
     text-align: center;
 } 